header, .w-header {
    max-width: 40vw;
}

header {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    margin: 0 auto;
    text-align: center;
}

header > * {
    margin: .5rem auto;
}

header h1 {
    font-size: 600%;
    color: $dark;
    font-weight: 800;
}

body[data-type="dark"] header h1 {
    color: $lightest;
}

header p {
    font-size: 130%;
    color: $light;
}

// body[data-type="dark"] header p {
//     color: $dark;
// }