* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import 'library';
@import 'btn';
@import 'nav';
@import 'header';

body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body[data-type="dark"] {
    background-color: $darkest;
    color: $light;
}

.h-center {
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding: 3rem 20rem;

    header {
        padding-bottom: 3rem;
    }
}

.row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    > .col.w-25 {
        flex-basis: 25%;
    }

    > .col.w-33 {
        flex-basis: 33.3%;
    }

    > .col.w-50 {
        flex-basis: 50%;
    }

    > .col.w-auto {
        flex: 0;
    }

    > .col.fill {
        flex: 1;
    }
}

hr {
    border: 1px solid $light-bg;
    width: 100%;
}

body[data-type="dark"] hr {
    border: 1px solid $dark-bg;
}

@media only screen and (max-width: 2000px){
    .container {
        padding: 3rem 15rem;
    }
    .nav {
        margin: 0 15rem;
    }
}

@media only screen and (max-width: 1800px){
    .container {
        padding: 3rem 12rem;
    }
    .nav {
        margin: 0 12rem;
    }
}

@media only screen and (max-width: 1200px){
    header, .w-header {
        max-width: 70vw;
    }
    header h1 {
        font-size: 400%;
    }
    .container {
        padding: 3rem 8rem;
    }
    .nav {
        margin: 0 8rem;
    }
}

@media only screen and (max-width: 900px){
    header, .w-header {
        max-width: initial;
    }
    .container {
        padding: 3rem;
    }
    .nav {
        margin: 0 3rem;
    }
}